.card {
  /* background-color: #424242 !important;
  color: white !important; */
  min-width: 30rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
